.shop_container {
	width: 100%;
	min-height: 95vh;
	background-color: #BCE0CF;
	display: flex;
	flex-direction: column;
	align-items: center;
}.shop_container_2{
	background-color: #6d7f77;
	width: 97%;
	min-height: 90vh;
	color: white;
	margin-top: 25px;
}
.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.select_style {
    width: 60%; /* 100% szerokości kontenera */
    padding: 10px; /* Zwiększ odstęp */
    margin: 10px 0; /* Odstęp górny i dolny */
    margin-left: 10px;
  }

.white_btn,
.green_btn {
    border: none;
    outline: none;
    padding: 12px 0;
    background-color: #BCE0CF;
    border-radius: 20px;
    width: 180px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    margin: 20px;
    border: 2px solid white;
}
.title {
    display: flex;
    flex-direction: row;
    border-bottom: 6px solid white;
    border-radius: 2px;
    padding-bottom: 20px;
    width: 60%;
    font-size: 30px;
    margin: 10px;
}
.blue_text{
	color: #014389;
	font-weight: bold;
}
.blue_text:hover{
	color: #025bba;
}
.searchResults{
    margin: 20px;
    padding: 20px;
    color: black;
    border-radius: 15px;
    background-color: #95a5a6;
    font-size: 2vw;
    border-spacing: 0px 8px;
}
.searchResults th{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}
.searchResults td{
    padding: 10px;
}
.searchResults tbody tr:nth-child(odd){
    background: #b1bbbb;
    box-shadow: 0px 0px 9px 4px rgba(0,0,0,0.2);
}
.searchResults tbody tr:nth-child(even){
    background: #d8dedf;
    box-shadow: 0px 0px 9px 4px rgba(0,0,0,0.2);
}
.error{
    font-size: 1.5vw;
    width: 300px;
    text-align: center;
    border: 1px solid black;
}
.navigateButton{
    text-align: center;
}

.nag {
    margin-left: 20px;
    margin-bottom: 0px;
    margin-top: 0px;

}